*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    justify-content: center;
    align-items:center;
}
.box{
    width: 320px;
    height: 340px;
    background-color:rgba(239, 243, 245, 0.966);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box1> img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#box2>h2 {
  font-weight: bold;
  margin-bottom: 3px;
}

#box2>p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

#box2>form>label {
  display: block;
  font-size: 10px;
  color: gray;
}

#box2>form>input {
  width: 100%;
  padding: 8px 25px 8px 8px;
  border:none;
  border-radius: 8px;
}

#box2 input::placeholder {
  color: #999;
  font-size: 10px;
}

#username {
  margin-bottom: 15px;
}
#box2>form>a{
    display: block;
    text-align: right;
    color: gray;
    text-decoration:none;
    font-size: 10px;
    margin: 2px 2px;
}
#box2>form>a:hover{
    color: lightblue;
}
#box2>form>button {
  width: 100%;
  padding: 8px;
  background-color:lightblue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin:20px 0px 20px;
}
#box2>form>button:hover {
  background-color: #1e90ff;
}
#box2>form>p {
  text-align: center;
  font-size: 10px;
  color: #555;
}

#box2>form>p>a {
  color: lightblue;
  text-decoration: none;
}

#box2 > form >p > a:hover {
  color: darkblue;
}
